<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate autocomplete="off">
  <div class="form-group">
    <label for="staff">Request To *</label>
    <div class="input-group">

      <ng-multiselect-dropdown id="staff" name="staff" [placeholder]="'Select Staff'" [settings]="dropdownSettings"
        [data]="staffData" [(ngModel)]="form.staff" (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)">
      </ng-multiselect-dropdown>
    </div>

  </div>
  <div class="form-group">
    <label for="startDate">Start Date*</label>
    <div class="input-group">
      <input type="date" class="" id="startDate" placeholder="startDate" name="startDate" [(ngModel)]="form.startDate"
        required #startDate="ngModel" autocomplete="off" />
    </div>
  </div>
  <div class="form-group">
    <label for="endDate">End Date*</label>
    <div class="input-group">
      <input type="date" class="" id="endDate" placeholder="endDate" name="endDate" [(ngModel)]="form.endDate" required
        #endDate="ngModel" autocomplete="off" />
    </div>
  </div>
  <div class="form-group">
    <label for="priority">Priority*</label>
    <div class="input-group">
      <input type="text" class="" id="priority" placeholder="priority" name="priority" [(ngModel)]="form.priority"
        required #priority="ngModel" autocomplete="off" />
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <div class="input-group">
      <textarea required name="description" #description="ngModel" [(ngModel)]="form.description" rows="5">
      </textarea>
    </div>
  </div>
  <div class="my-3">
    <label class="error mt-1 mb-1 text-danger">{{
      errorMessage
      }}</label>
    <button type="submit" class="btn">Submit</button>
  </div>
</form>